
<!-- <div class="row" >
    <div class="col-12"style="display:flex; justify-content: center;">
      <img src="/assets/img/outputgif.gif" alt="gif" height="100px" >
    </div>
  </div> -->
<div class="container">
    <div class="card">
        <div class="card-header" style="display: flex; justify-content: space-between;">
            <div>
                <h4>All Detections</h4>
            </div>
            <div class="div">
                <button type="button" (click)="openModal()" class="btn btn-md btn-warning "
                    style="background: salmon; color: white;"> Add
                    Run Model </button>
                <!-- <button type="button" class="btn btn-info btn-lg" >click to open</button> -->
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Date and Time</th>
                        <th scope="col">Fire</th>
                        <th scope="col">Traffic</th>
                        <th scope="col">Weapon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of detectionList  let i = index">
                        <!-- <ng-container *ngIf="item['traffic'] != '0' || item['fire']!='0' || item['weapon'] !='0' "> -->
                            <!-- Add your table row content here -->
                            <th scope="row">{{i + 1}}</th>
                            <td>{{ item['timeAndDate'] | date :'yyyy-MM-dd hh:mm:ss a' }} </td>
                            <td>{{item['fire']}}</td>
                            <td>{{item['traffic']}}</td>
                            <td>{{item['weapon']}}</td>
                        <!-- </ng-container> -->


                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>