<!-- <form (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
 -->
<div class="row" >
  <div class="col-12"style="display:flex; justify-content: center;">
    <img src="/assets/img/logoicon.png" alt="image" height="150px" >
  </div>
</div>


 
<div class="container">
 
  <h2 class="login-title" style="color: white;" >LOG IN</h2>

  <form [formGroup]="myForm" class="login-form">
    <!-- <div>
         <label for="name">Name </label>
         <input
                id="name"
                type="text"
                placeholder="Eren Buruk"
                name="name"
                required
                />
       </div> -->

    <div>
      <label for="username">Username </label>
      <input id="username" type="text" placeholder="Enter Username" formControlName="username" required />
    </div>

    <div>
      <label for="password">Password </label>
      <input id="password" type="password" placeholder="Enter Password" formControlName="password" required />
    </div>

    <button class="btn btn--form"
      (click)="login(this.myForm.controls['username'].value ,this.myForm.controls['password'].value )" type="submit"
      value="Log in">
      Log in
    </button>
  </form>
</div>