.receipt-container {
  text-align: left;
  font-size: 20px;
}
.store-name, .invoice-number, .phone-number, .date, .description, .qty, .amount, .totals, .barcode, .powered-by, .thank-you {
  text-align: left;
  font-size: 20px;
}
.address {
  text-align: center;
}